.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
    justify-content: center;
    background-color: rgb(3, 8, 63);
    border-radius: 16px;
    box-shadow: 2px 2px  2px 2px rgb(15, 15, 15);
    margin-top: 10%;
    /* padding-top: 30px !important; */
     /* padding-top:40% !important;  */
    /* padding-top: 10%;  */
    /* margin-bottom: 40% !important; */
    
  }
  .Login{
    background-color: rgb(2, 213, 228);
  }
  .text-center{
    background-color: rgb(2, 213, 228);
    /* height: 100vh; */
  }
    .credential{                                                                        
    border: 2px solid white;
    padding: 2px;
    font-size: 10px;
    color: tomato;
  }
    .credicon{
    font-size: 1.3rem !important;
    padding-top: 1px !important;
  }
  @media (max-width: 768px) {
    .form-signin{
      padding: 15px;
      margin-top: 10%;
    }
    .text-center{
      padding: 10px;
    }
  }

  /* .text-center{
    background: aqua;
    width: 100%;
    
  }
  .Login{
    background: blue !important;
  } */
  
